<div class="container">
    <h1 class="page-title">Nutrition Plans</h1>

    <div id="error-alert" style="color:red; display:none;"></div>

    
    <div id="nutrition-plans-container"></div>

    <h2>Add New Nutrition Plan</h2>
    <form id="new-nutrition-form" class="form">
        <div class="form-group">
            <label for="plan-name">Plan Name:</label>
            <input type="text" id="plan-name" name="planName" class="form-control" required />
        </div>

        <h3>Meals:</h3>
        <div id="meals-container"></div>

        <button type="button" id="add-meal-btn" class="btn btn-secondary">Add Meal</button>
        <br /><br />

        <button type="submit" class="btn btn-primary">Create Nutrition Plan</button>
    </form>

    {{#if script_partial}}
        {{> (lookup . 'script_partial') }}
    {{/if}}

    <a href="/dashboard" class="btn2" style="margin-top:20px;">Return to Dashboard</a>

</div>
